.dashboard {
  right: 20px;
  bottom: 20px;
}
.bgOrangeColor {
  background-color: #f7a325;
}
.textOrangeColor {
  color: #f7a325;
}
main {
  height: 75vh;
}
.btnCustom {
  color: #f7a325;
  border: 1px #f7a325 solid;
  background-color: transparent;
  transition: 0.5s;
  width: 150px;
}
.btnCustom:hover {
  color: white;
  background-color: #f7a325;
}
