.leftSide {
    background-color: #F7A325;
}
.websiteLogo {
    width: 200px;
}
.bgOrangeColor {
    background-color: #F7A325;
    color: white;
}
h1 {
    color: #F7A325;
}
.navTabs {
    background-color: transparent;
}
.navTabs button {
    color: #F7A325;
}