.popUpParent {
  z-index: 9999999999999999999;
}
.add {
  background-color: #f7a325;
  color: white;
}
i {
  right: 10px;
  top: 10px;
  color: #f7a325;
  cursor: pointer;
}
input,
select {
  border: #f7a325 solid 1px !important;
}
::placeholder {
  color: #f7a325 !important;
}
